.ColorPicker {
	width: 400px;
	height: 300px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}

.ColorPicker_button {
	width: 80px;
	height: 50px;
	border: 0;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	transition: all 0.5s;
	color: black;
}

.ColorPicker_button:hover {
	width: 90px;
	height: 60px;
	background-color: antiquewhite;
}
