.content {
	padding-top: 80px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content_button {
	margin-top: 40px;
	width: 115px;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #6a33cc;
	color: white;
	font-weight: 600;
	border: 0;
	border-radius: 5px;
}

.content_button:hover {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #49228d;
	color: white;
	font-weight: 600;
	border: 0;
	border-radius: 5px;
}

.content_sentence {
	font-size: 16px;
	color: gray;
	letter-spacing: 1px;
	font-weight: 500;
}

.content_title {
	font-size: 50px;
	padding: 0;
}
