.header {
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 300px;
	border-bottom: 1px solid #ccc;
}

.header_logo {
	width: 50px;
	height: 50px;
}

.header_initials {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header_nav {
	display: flex;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	gap: 100px;
}

.header_button {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #6a33cc;
	color: white;
	font-weight: 600;
	border: 0;
	border-radius: 5px;
}

.header_button:hover {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4e2596;
	color: white;
	font-weight: 600;
	border: 0;
	border-radius: 5px;
}

.header_title {
	font-family: 'Montserrat', sans-serif;
	color: #6a33cc;
}

.header_options {
	text-decoration: none;
	color: gray;
	transition: all 0.5s;
}
.header_options:hover {
	color: rgb(180, 180, 180);
}
