.GuestCard {
	display: flex;
	width: 400px;
	height: 60px;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	gap: 15px;
	font-weight: 600;
	background-color: white;
	border-radius: 5px;
}

.GuestCard_name {
	font-size: 20px;
}

.GuestCard_button {
	width: 60px;
	height: 40px;
	border: none;
	background-color: red;
	font-size: 15px;
	color: white;
	border-radius: 10px;
	transition: all 0.5s;
}

.GuestCard_button:hover {
	background-color: rgb(188, 49, 49);
	width: 62px;
	height: 42px;
}
