.Footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 180px;
	background-color: #6a33cc;
	background-image: url('https://www.pngall.com/wp-content/uploads/14/Pattern-PNG-Photos.png');
	background-size: cover;
	opacity: 0.9;
}

.Footer_nav {
	color: white;
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 15px;
	font-weight: 600;
}

.Footer_links {
	text-decoration: none;
	color: rgb(196, 196, 196);
}
